* {
    color: auto;
}

Horizontal > RichLog {
    margin: 1 3;
}

Screen > Horizontal {
    border: $primary;
    border-title-color: $primary;
}

Vertical > Horizontal {

}

Vertical {
    margin: 1 3;
}

#config, #commands, #status {
    height: 7;
}

Button {
    width: 1fr;
    margin: 1 3;
}

Label {
    width: auto;
}

Sparkline {
    width: 100%;
}